In [1]:
# Setup Dependencies
import pandas as pd
from pathlib import Path

# Locating input files for Assignment
schools_info_file_location = Path("Resources/schools_complete.csv")
students_info_file_location = Path("Resources/students_complete.csv")

# Reading files and stores data in two DataFrames; one for each file....in this Assignment the letter o indicates "original" 
# and m indicates "modified"
o_schools_info_df = pd.read_csv(schools_info_file_location)
o_students_info_df = pd.read_csv(students_info_file_location)

# Inspecting o_schools_info_df for info included and location of columns
#o_schools_info_df.head()

# Inspecting o_students_info_df for info included and location of columns
#o_students_info_df.head()

# Creating a new DataFrame by merging the DataFrames above
o_schools_students_info_df = pd.merge(o_students_info_df, o_schools_info_df, how="left", on=["school_name", "school_name"])
# Inspecting o_schools_students_info_df for info included and location of columns
o_schools_students_info_df.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

Local Government Area Summary

- Calculate the total number of schools
- Calculate the total number of students
- Calculate the total budget
- Calculate the average maths score
- Calculate the average reading score
- Calculate the percentage of students with a passing maths score (50 or greater)
- Calculate the percentage of students with a passing reading score (50 or greater)
- Calculate the percentage of students who passed maths and reading (% Overall Passing)
- Create a dataframe to hold the above results
- Optional: give the displayed data cleaner formatting

In [2]:
unique_schools_number = o_schools_info_df["school_name"].count()
total_number_of_students = o_schools_info_df["size"].sum()
total_budget = o_schools_info_df["budget"].sum()
ave_maths_score = o_schools_students_info_df["maths_score"].mean()
ave_reading_score = o_schools_students_info_df["reading_score"].mean()
passing_maths_df = o_schools_students_info_df.loc[(o_schools_students_info_df["maths_score"] >= 50)]
number_students_passing_maths = passing_maths_df ["maths_score"].count()
ratio_passing_maths = 100 * (number_students_passing_maths / total_number_of_students)
passing_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["reading_score"] >= 50)]
number_students_passing_reading = passing_reading_df ["reading_score"].count()
ratio_passing_reading = 100 * (number_students_passing_reading / total_number_of_students)
passing_maths_and_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["maths_score"] >= 50) & (o_schools_students_info_df["reading_score"] >= 50)]
number_students_passing_maths_and_reading = passing_maths_and_reading_df ["reading_score"].count()
ratio_passing_maths_reading = 100 * (number_students_passing_maths_and_reading / total_number_of_students)
#print (unique_schools_number)
#print (total_number_of_students)
#print (total_budget)
#print (ave_maths_score)
#print (ave_reading_score)
#print (ratio_passing_maths)
#print (ratio_passing_reading)
#print (ratio_passing_maths_reading)
input_data_summary = {"Total Schools": [unique_schools_number], "Total Students": [total_number_of_students], "Total Budget":[total_budget], "Average Maths Score":[ave_maths_score],\
             "Average Reading Score": [ave_reading_score], "% Passing Maths": [ratio_passing_maths], "% Passing Reading": [ratio_passing_reading], "% Overall Passing": [ratio_passing_maths_reading]}
high_level_summary_df = pd.DataFrame(input_data_summary, columns=["Total Schools", "Total Students", "Total Budget", "Average Maths Score", "Average Reading Score", "% Passing Maths", "% Passing Reading", "% Overall Passing"])
high_level_summary_df["Total Students"] = high_level_summary_df["Total Students"].map("{:,}".format)
high_level_summary_df["Total Budget"] = high_level_summary_df["Total Budget"].map("${:,.2f}".format)
high_level_summary_df.head()

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

School Summary
Create an overview table that summarises key metrics about each school, including:

    School Name
    School Type
    Total Students
    Total School Budget
    Per Student Budget
    Average Maths Score
    Average Reading Score
    % Passing Maths
    % Passing Reading
    % Overall Passing (The percentage of students that passed maths and reading.)

Create a dataframe to hold the above results

In [3]:
school_general_info_df = o_schools_info_df.loc[(o_schools_info_df["school_name"] =="Bailey High School")]
school1_type = school_general_info_df.iat[0, 2]
school1_size = school_general_info_df.iat[0, 3]
school1_budget = school_general_info_df.iat[0, 4]
school1_per_student_budget = school1_budget/school1_size
#print(school1_type)
#print(school1_size)
#print(school1_budget)
#print(school1_per_student_budget)

school_general_info_df = o_schools_info_df.loc[(o_schools_info_df["school_name"] =="Cabrera High School")]
school2_type = school_general_info_df.iat[0, 2]
school2_size = school_general_info_df.iat[0, 3]
school2_budget = school_general_info_df.iat[0, 4]
school2_per_student_budget = school2_budget/school2_size
#print(school2_type)
#print(school2_size)
#print(school2_budget)
#print (school2_per_student_budget)

school_general_info_df = o_schools_info_df.loc[(o_schools_info_df["school_name"] =="Figueroa High School")]
school3_type = school_general_info_df.iat[0, 2]
school3_size = school_general_info_df.iat[0, 3]
school3_budget = school_general_info_df.iat[0, 4]
school3_per_student_budget = school3_budget/school3_size
#print(school3_type)
#print(school3_size)
#print(school3_budget)
#print(school3_per_student_budget)

school_general_info_df = o_schools_info_df.loc[(o_schools_info_df["school_name"] =="Ford High School")]
school4_type = school_general_info_df.iat[0, 2]
school4_size = school_general_info_df.iat[0, 3]
school4_budget = school_general_info_df.iat[0, 4]
school4_per_student_budget = school4_budget/school4_size
#print(school4_type)
#print(school4_size)
#print(school4_budget)
#print(school4_per_student_budget)

school_general_info_df = o_schools_info_df.loc[(o_schools_info_df["school_name"] =="Griffin High School")]
school5_type = school_general_info_df.iat[0, 2]
school5_size = school_general_info_df.iat[0, 3]
school5_budget = school_general_info_df.iat[0, 4]
school5_per_student_budget = school5_budget/school5_size
#print(school5_type)
#print(school5_size)
#print(school5_budget)
#print(school5_per_student_budget)

school_general_info_df = o_schools_info_df.loc[(o_schools_info_df["school_name"] =="Hernandez High School")]
school6_type = school_general_info_df.iat[0, 2]
school6_size = school_general_info_df.iat[0, 3]
school6_budget = school_general_info_df.iat[0, 4]
school6_per_student_budget = school6_budget/school6_size
#(school6_type)
#print(school6_size)
#print(school6_budget)
#print(school6_per_student_budget)

school_general_info_df = o_schools_info_df.loc[(o_schools_info_df["school_name"] =="Holden High School")]
school7_type = school_general_info_df.iat[0, 2]
school7_size = school_general_info_df.iat[0, 3]
school7_budget = school_general_info_df.iat[0, 4]
school7_per_student_budget = school7_budget/school7_size
#print(school7_type)
#print(school7_size)
#print(school7_budget)
#print(school7_per_student_budget)

school_general_info_df = o_schools_info_df.loc[(o_schools_info_df["school_name"] =="Huang High School")]
school8_type = school_general_info_df.iat[0, 2]
school8_size = school_general_info_df.iat[0, 3]
school8_budget = school_general_info_df.iat[0, 4]
school8_per_student_budget = school8_budget/school8_size
#print(school8_type)
#print(school8_size)
#print(school8_budget)
#print(school8_per_student_budget)

school_general_info_df = o_schools_info_df.loc[(o_schools_info_df["school_name"] =="Johnson High School")]
school9_type = school_general_info_df.iat[0, 2]
school9_size = school_general_info_df.iat[0, 3]
school9_budget = school_general_info_df.iat[0, 4]
school9_per_student_budget = school9_budget/school9_size
#print(school9_type)
#print(school9_size)
#print(school9_budget)
#print (school9_per_student_budget)

school_general_info_df = o_schools_info_df.loc[(o_schools_info_df["school_name"] =="Pena High School")]
school10_type = school_general_info_df.iat[0, 2]
school10_size = school_general_info_df.iat[0, 3]
school10_budget = school_general_info_df.iat[0, 4]
school10_per_student_budget = school10_budget/school10_size
#print(school10_type)
#print(school10_size)
#print(school10_budget)
#print(school10_per_student_budget)

school_general_info_df = o_schools_info_df.loc[(o_schools_info_df["school_name"] =="Rodriguez High School")]
school11_type = school_general_info_df.iat[0, 2]
school11_size = school_general_info_df.iat[0, 3]
school11_budget = school_general_info_df.iat[0, 4]
school11_per_student_budget = school11_budget/school11_size
#print(school11_type)
#print(school11_size)
#print(school11_budget)
#print(school11_per_student_budget)

school_general_info_df = o_schools_info_df.loc[(o_schools_info_df["school_name"] =="Shelton High School")]
school12_type = school_general_info_df.iat[0, 2]
school12_size = school_general_info_df.iat[0, 3]
school12_budget = school_general_info_df.iat[0, 4]
school12_per_student_budget = school12_budget/school12_size
#print(school12_type)
#print(school12_size)
#print(school12_budget)
#print(school12_per_student_budget)

school_general_info_df = o_schools_info_df.loc[(o_schools_info_df["school_name"] =="Thomas High School")]
school13_type = school_general_info_df.iat[0, 2]
school13_size = school_general_info_df.iat[0, 3]
school13_budget = school_general_info_df.iat[0, 4]
school13_per_student_budget = school13_budget/school13_size
#print(school13_type)
#print(school13_size)
#print(school13_budget)
#print(school13_per_student_budget)

school_general_info_df = o_schools_info_df.loc[(o_schools_info_df["school_name"] =="Wilson High School")]
school14_type = school_general_info_df.iat[0, 2]
school14_size = school_general_info_df.iat[0, 3]
school14_budget = school_general_info_df.iat[0, 4]
school14_per_student_budget = school14_budget/school14_size
#print(school14_type)
#print(school14_size)
#print(school14_budget)
#print(school14_per_student_budget)

school_general_info_df = o_schools_info_df.loc[(o_schools_info_df["school_name"] =="Wright High School")]
school15_type = school_general_info_df.iat[0, 2]
school15_size = school_general_info_df.iat[0, 3]
school15_budget = school_general_info_df.iat[0, 4]
school15_per_student_budget = school15_budget/school15_size
#print(school15_type)
#print(school15_size)
#print(school15_budget)
#print(school15_per_student_budget)

school_ave_maths_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Bailey High School")]
school1_ave_M = school_ave_maths_reading_df["maths_score"].mean()
school1_ave_R = school_ave_maths_reading_df["reading_score"].mean()
#print(school1_ave_M)
#print(school1_ave_R)

school_ave_maths_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Cabrera High School")]
school2_ave_M = school_ave_maths_reading_df["maths_score"].mean()
school2_ave_R = school_ave_maths_reading_df["reading_score"].mean()
#print(school2_ave_M)
#print(school2_ave_R)

school_ave_maths_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Figueroa High School")]
school3_ave_M = school_ave_maths_reading_df["maths_score"].mean()
school3_ave_R = school_ave_maths_reading_df["reading_score"].mean()
#print(school3_ave_M)
#print(school3_ave_R)

school_ave_maths_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Ford High School")]
school4_ave_M = school_ave_maths_reading_df["maths_score"].mean()
school4_ave_R = school_ave_maths_reading_df["reading_score"].mean()
#print(school4_ave_M)
#print(school4_ave_R)

school_ave_maths_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Griffin High School")]
school5_ave_M = school_ave_maths_reading_df["maths_score"].mean()
school5_ave_R = school_ave_maths_reading_df["reading_score"].mean()
#print(school5_ave_M)
#print(school5_ave_R)

school_ave_maths_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Hernandez High School")]
school6_ave_M = school_ave_maths_reading_df["maths_score"].mean()
school6_ave_R = school_ave_maths_reading_df["reading_score"].mean()
#print(school6_ave_M)
#print(school6_ave_R)

school_ave_maths_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Holden High School")]
school7_ave_M = school_ave_maths_reading_df["maths_score"].mean()
school7_ave_R = school_ave_maths_reading_df["reading_score"].mean()
#print(school7_ave_M)
#print(school7_ave_R)

school_ave_maths_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Huang High School")]
school8_ave_M = school_ave_maths_reading_df["maths_score"].mean()
school8_ave_R = school_ave_maths_reading_df["reading_score"].mean()
#print(school8_ave_M)
#print(school8_ave_R)

school_ave_maths_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Johnson High School")]
school9_ave_M = school_ave_maths_reading_df["maths_score"].mean()
school9_ave_R = school_ave_maths_reading_df["reading_score"].mean()
#print(school9_ave_M)
#print(school9_ave_R)

school_ave_maths_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Pena High School")]
school10_ave_M = school_ave_maths_reading_df["maths_score"].mean()
school10_ave_R = school_ave_maths_reading_df["reading_score"].mean()
#print(school10_ave_M)
#print(school10_ave_R)

school_ave_maths_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Rodriguez High School")]
school11_ave_M = school_ave_maths_reading_df["maths_score"].mean()
school11_ave_R = school_ave_maths_reading_df["reading_score"].mean()
#print(school11_ave_M)
#print(school11_ave_R)

school_ave_maths_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Shelton High School")]
school12_ave_M = school_ave_maths_reading_df["maths_score"].mean()
school12_ave_R = school_ave_maths_reading_df["reading_score"].mean()
#print(school12_ave_M)
#print(school12_ave_R)

school_ave_maths_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Thomas High School")]
school13_ave_M = school_ave_maths_reading_df["maths_score"].mean()
school13_ave_R = school_ave_maths_reading_df["reading_score"].mean()
#print(school13_ave_M)
#print(school13_ave_R)

school_ave_maths_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Wilson High School")]
school14_ave_M = school_ave_maths_reading_df["maths_score"].mean()
school14_ave_R = school_ave_maths_reading_df["reading_score"].mean()
#print(school14_ave_M)
#print(school14_ave_R)

school_ave_maths_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Wright High School")]
school15_ave_M = school_ave_maths_reading_df["maths_score"].mean()
school15_ave_R = school_ave_maths_reading_df["reading_score"].mean()
#print(school15_ave_M)
#print(school15_ave_R)

school_passing_maths_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Bailey High School") & (o_schools_students_info_df["maths_score"] >= 50)]
count1_M = school_passing_maths_df["maths_score"].count()
school_passing_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Bailey High School") & (o_schools_students_info_df["reading_score"] >= 50)]
count1_R = school_passing_reading_df["reading_score"].count()
school_passing_maths_and_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Bailey High School") & (o_schools_students_info_df["maths_score"] >= 50) & (o_schools_students_info_df["reading_score"] >= 50)]
count1_M_R = school_passing_maths_and_reading_df["maths_score"].count()
percent_pass_maths1 = 100 * (count1_M/school1_size)
percent_pass_reading1 = 100 * (count1_R/school1_size)
percent_pass_maths_reading1 = 100 * (count1_M_R/school1_size)
#print(count1_M)
#print(count1_R)
#print(count1_M_R)
#print(percent_pass_maths1)
#print(percent_pass_reading1)
#print(percent_pass_maths_reading1)

school_passing_maths_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Cabrera High School") & (o_schools_students_info_df["maths_score"] >= 50)]
count2_M = school_passing_maths_df["maths_score"].count()
school_passing_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Cabrera High School") & (o_schools_students_info_df["reading_score"] >= 50)]
count2_R = school_passing_reading_df["reading_score"].count()
school_passing_maths_and_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Cabrera High School") & (o_schools_students_info_df["maths_score"] >= 50) & (o_schools_students_info_df["reading_score"] >= 50)]
count2_M_R = school_passing_maths_and_reading_df["maths_score"].count()
percent_pass_maths2 = 100 * (count2_M/school2_size)
percent_pass_reading2 = 100 * (count2_R/school2_size)
percent_pass_maths_reading2 = 100 * (count2_M_R/school2_size)
#print(count2_M)
#print(count2_R)
#print(count2_M_R)
#print(percent_pass_maths2)
#print(percent_pass_reading2)
#print(percent_pass_maths_reading2)

school_passing_maths_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Figueroa High School") & (o_schools_students_info_df["maths_score"] >= 50)]
count3_M = school_passing_maths_df["maths_score"].count()
school_passing_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Figueroa High School") & (o_schools_students_info_df["reading_score"] >= 50)]
count3_R = school_passing_reading_df["reading_score"].count()
school_passing_maths_and_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Figueroa High School") & (o_schools_students_info_df["maths_score"] >= 50) & (o_schools_students_info_df["reading_score"] >= 50)]
count3_M_R = school_passing_maths_and_reading_df["maths_score"].count()
percent_pass_maths3 = 100 * (count3_M/school3_size)
percent_pass_reading3 = 100 * (count3_R/school3_size)
percent_pass_maths_reading3 = 100 * (count3_M_R/school3_size)
#print(count3_M)
#print(count3_R)
#print(count3_M_R)
#print(percent_pass_maths3)
#print(percent_pass_reading3)
#print(percent_pass_maths_reading3)

school_passing_maths_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Ford High School") & (o_schools_students_info_df["maths_score"] >= 50)]
count4_M = school_passing_maths_df["maths_score"].count()
school_passing_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Ford High School") & (o_schools_students_info_df["reading_score"] >= 50)]
count4_R = school_passing_reading_df["reading_score"].count()
school_passing_maths_and_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Ford High School") & (o_schools_students_info_df["maths_score"] >= 50) & (o_schools_students_info_df["reading_score"] >= 50)]
count4_M_R = school_passing_maths_and_reading_df["maths_score"].count()
percent_pass_maths4 = 100 * (count4_M/school4_size)
percent_pass_reading4 = 100 * (count4_R/school4_size)
percent_pass_maths_reading4 = 100 * (count4_M_R/school4_size)
#print(count4_M)
#print(count4_R)
#print(count4_M_R)
#print(percent_pass_maths4)
#print(percent_pass_reading4)
#print(percent_pass_maths_reading4)

school_passing_maths_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Griffin High School") & (o_schools_students_info_df["maths_score"] >= 50)]
count5_M = school_passing_maths_df["maths_score"].count()
school_passing_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Griffin High School") & (o_schools_students_info_df["reading_score"] >= 50)]
count5_R = school_passing_reading_df["reading_score"].count()
school_passing_maths_and_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Griffin High School") & (o_schools_students_info_df["maths_score"] >= 50) & (o_schools_students_info_df["reading_score"] >= 50)]
count5_M_R = school_passing_maths_and_reading_df["maths_score"].count()
percent_pass_maths5 = 100 * (count5_M/school5_size)
percent_pass_reading5 = 100 * (count5_R/school5_size)
percent_pass_maths_reading5 = 100 * (count5_M_R/school5_size)
#print(count5_M)
#print(count5_R)
#print(count5_M_R)
#print(percent_pass_maths5)
#print(percent_pass_reading5)
#print(percent_pass_maths_reading5)

school_passing_maths_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Hernandez High School") & (o_schools_students_info_df["maths_score"] >= 50)]
count6_M = school_passing_maths_df["maths_score"].count()
school_passing_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Hernandez High School") & (o_schools_students_info_df["reading_score"] >= 50)]
count6_R = school_passing_reading_df["reading_score"].count()
school_passing_maths_and_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Hernandez High School") & (o_schools_students_info_df["maths_score"] >= 50) & (o_schools_students_info_df["reading_score"] >= 50)]
count6_M_R = school_passing_maths_and_reading_df["maths_score"].count()
percent_pass_maths6 = 100 * (count6_M/school6_size)
percent_pass_reading6 = 100 * (count6_R/school6_size)
percent_pass_maths_reading6 = 100 * (count6_M_R/school6_size)
#print(count6_M)
#print(count6_R)
#print(count6_M_R)
#print(percent_pass_maths6)
#print(percent_pass_reading6)
#print(percent_pass_maths_reading6)

school_passing_maths_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Holden High School") & (o_schools_students_info_df["maths_score"] >= 50)]
count7_M = school_passing_maths_df["maths_score"].count()
school_passing_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Holden High School") & (o_schools_students_info_df["reading_score"] >= 50)]
count7_R = school_passing_reading_df["reading_score"].count()
school_passing_maths_and_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Holden High School") & (o_schools_students_info_df["maths_score"] >= 50) & (o_schools_students_info_df["reading_score"] >= 50)]
count7_M_R = school_passing_maths_and_reading_df["maths_score"].count()
percent_pass_maths7 = 100 * (count7_M/school7_size)
percent_pass_reading7 = 100 * (count7_R/school7_size)
percent_pass_maths_reading7 = 100 * (count7_M_R/school7_size)
#print(count7_M)
#print(count7_R)
#print(count7_M_R)
#print(percent_pass_maths7)
#print(percent_pass_reading7)
#print(percent_pass_maths_reading7)

school_passing_maths_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Huang High School") & (o_schools_students_info_df["maths_score"] >= 50)]
count8_M = school_passing_maths_df["maths_score"].count()
school_passing_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Huang High School") & (o_schools_students_info_df["reading_score"] >= 50)]
count8_R = school_passing_reading_df["reading_score"].count()
school_passing_maths_and_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Huang High School") & (o_schools_students_info_df["maths_score"] >= 50) & (o_schools_students_info_df["reading_score"] >= 50)]
count8_M_R = school_passing_maths_and_reading_df["maths_score"].count()
percent_pass_maths8 = 100 * (count8_M/school8_size)
percent_pass_reading8 = 100 * (count8_R/school8_size)
percent_pass_maths_reading8 = 100 * (count8_M_R/school8_size)
#print(count8_M)
#print(count8_R)
#print(count8_M_R)
#print(percent_pass_maths8)
#print(percent_pass_reading8)
#print(percent_pass_maths_reading8)

school_passing_maths_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Johnson High School") & (o_schools_students_info_df["maths_score"] >= 50)]
count9_M = school_passing_maths_df["maths_score"].count()
school_passing_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Johnson High School") & (o_schools_students_info_df["reading_score"] >= 50)]
count9_R = school_passing_reading_df["reading_score"].count()
school_passing_maths_and_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Johnson High School") & (o_schools_students_info_df["maths_score"] >= 50) & (o_schools_students_info_df["reading_score"] >= 50)]
count9_M_R = school_passing_maths_and_reading_df["maths_score"].count()
percent_pass_maths9 = 100 * (count9_M/school9_size)
percent_pass_reading9 = 100 * (count9_R/school9_size)
percent_pass_maths_reading9 = 100 * (count9_M_R/school9_size)
#print(count9_M)
#print(count9_R)
#print(count9_M_R)
#print(percent_pass_maths9)
#print(percent_pass_reading9)
#print(percent_pass_maths_reading9)

school_passing_maths_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Pena High School") & (o_schools_students_info_df["maths_score"] >= 50)]
count10_M = school_passing_maths_df["maths_score"].count()
school_passing_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Pena High School") & (o_schools_students_info_df["reading_score"] >= 50)]
count10_R = school_passing_reading_df["reading_score"].count()
school_passing_maths_and_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Pena High School") & (o_schools_students_info_df["maths_score"] >= 50) & (o_schools_students_info_df["reading_score"] >= 50)]
count10_M_R = school_passing_maths_and_reading_df["maths_score"].count()
percent_pass_maths10 = 100 * (count10_M/school10_size)
percent_pass_reading10 = 100 * (count10_R/school10_size)
percent_pass_maths_reading10 = 100 * (count10_M_R/school10_size)
#print(count10_M)
#print(count10_R)
#print(count10_M_R)
#print(percent_pass_maths10)
#print(percent_pass_reading10)
#print(percent_pass_maths_reading10)

school_passing_maths_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Rodriguez High School") & (o_schools_students_info_df["maths_score"] >= 50)]
count11_M = school_passing_maths_df["maths_score"].count()
school_passing_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Rodriguez High School") & (o_schools_students_info_df["reading_score"] >= 50)]
count11_R = school_passing_reading_df["reading_score"].count()
school_passing_maths_and_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Rodriguez High School") & (o_schools_students_info_df["maths_score"] >= 50) & (o_schools_students_info_df["reading_score"] >= 50)]
count11_M_R = school_passing_maths_and_reading_df["maths_score"].count()
percent_pass_maths11 = 100 * (count11_M/school11_size)
percent_pass_reading11 = 100 * (count11_R/school11_size)
percent_pass_maths_reading11 = 100 * (count11_M_R/school11_size)
#print(count11_M)
#print(count11_R)
#print(count11_M_R)
#print(percent_pass_maths11)
#print(percent_pass_reading11)
#print(percent_pass_maths_reading11)

school_passing_maths_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Shelton High School") & (o_schools_students_info_df["maths_score"] >= 50)]
count12_M = school_passing_maths_df["maths_score"].count()
school_passing_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Shelton High School") & (o_schools_students_info_df["reading_score"] >= 50)]
count12_R = school_passing_reading_df["reading_score"].count()
school_passing_maths_and_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Shelton High School") & (o_schools_students_info_df["maths_score"] >= 50) & (o_schools_students_info_df["reading_score"] >= 50)]
count12_M_R = school_passing_maths_and_reading_df["maths_score"].count()
percent_pass_maths12 = 100 * (count12_M/school12_size)
percent_pass_reading12 = 100 * (count12_R/school12_size)
percent_pass_maths_reading12 = 100 * (count12_M_R/school12_size)
#print(count12_M)
#print(count12_R)
#print(count12_M_R)
#print(percent_pass_maths12)
#print(percent_pass_reading12)
#print(percent_pass_maths_reading12)

school_passing_maths_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Thomas High School") & (o_schools_students_info_df["maths_score"] >= 50)]
count13_M = school_passing_maths_df["maths_score"].count()
school_passing_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Thomas High School") & (o_schools_students_info_df["reading_score"] >= 50)]
count13_R = school_passing_reading_df["reading_score"].count()
school_passing_maths_and_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Thomas High School") & (o_schools_students_info_df["maths_score"] >= 50) & (o_schools_students_info_df["reading_score"] >= 50)]
count13_M_R = school_passing_maths_and_reading_df["maths_score"].count()
percent_pass_maths13 = 100 * (count13_M/school13_size)
percent_pass_reading13 = 100 * (count13_R/school13_size)
percent_pass_maths_reading13 = 100 * (count13_M_R/school13_size)
#print(count13_M)
#print(count13_R)
#print(count13_M_R)
#print(percent_pass_maths13)
#print(percent_pass_reading13)
#print(percent_pass_maths_reading13)

school_passing_maths_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Wilson High School") & (o_schools_students_info_df["maths_score"] >= 50)]
count14_M = school_passing_maths_df["maths_score"].count()
school_passing_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Wilson High School") & (o_schools_students_info_df["reading_score"] >= 50)]
count14_R = school_passing_reading_df["reading_score"].count()
school_passing_maths_and_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Wilson High School") & (o_schools_students_info_df["maths_score"] >= 50) & (o_schools_students_info_df["reading_score"] >= 50)]
count14_M_R = school_passing_maths_and_reading_df["maths_score"].count()
percent_pass_maths14 = 100 * (count14_M/school14_size)
percent_pass_reading14 = 100 * (count14_R/school14_size)
percent_pass_maths_reading14 = 100 * (count14_M_R/school14_size)
#print(count14_M)
#print(count14_R)
#print(count14_M_R)
#print(percent_pass_maths14)
#print(percent_pass_reading14)
#print(percent_pass_maths_reading14)

school_passing_maths_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Wright High School") & (o_schools_students_info_df["maths_score"] >= 50)]
count15_M = school_passing_maths_df["maths_score"].count()
school_passing_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Wright High School") & (o_schools_students_info_df["reading_score"] >= 50)]
count15_R = school_passing_reading_df["reading_score"].count()
school_passing_maths_and_reading_df = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Wright High School") & (o_schools_students_info_df["maths_score"] >= 50) & (o_schools_students_info_df["reading_score"] >= 50)]
count15_M_R = school_passing_maths_and_reading_df["maths_score"].count()
percent_pass_maths15 = 100 * (count15_M/school15_size)
percent_pass_reading15 = 100 * (count15_R/school15_size)
percent_pass_maths_reading15 = 100 * (count15_M_R/school15_size)
#print(count15_M)
#print(count15_R)
#print(count15_M_R)
#print(percent_pass_maths15)
#print(percent_pass_reading15)
#print(percent_pass_maths_reading15)

school_summary_df = pd.DataFrame({
    "School Name": ["Bailey High School", "Cabrera High School", "Figueroa High School", "Ford High School", "Griffin High School", "Hernandez High School", "Holden High School", "Huang High School", "Johnson High School", "Pena High School", "Rodriguez High School", "Shelton High School", "Thomas High School", "Wilson High School", "Wright High School"],
    "School Type": [school1_type, school2_type, school3_type, school4_type, school5_type, school6_type, school7_type, school8_type, school9_type, school10_type, school11_type, school12_type, school13_type, school14_type, school15_type],
    "Total Students": [school1_size, school2_size, school3_size, school4_size, school5_size, school6_size, school7_size, school8_size, school9_size, school10_size, school11_size, school12_size, school13_size, school14_size, school15_size],
    "Total School Budget": [school1_budget, school2_budget, school3_budget, school4_budget, school5_budget, school6_budget, school7_budget, school8_budget, school9_budget, school10_budget, school11_budget, school12_budget, school13_budget, school14_budget, school15_budget],
    "Per Student Budget": [school1_per_student_budget, school2_per_student_budget, school3_per_student_budget, school4_per_student_budget, school5_per_student_budget, school6_per_student_budget, school7_per_student_budget, school8_per_student_budget, school9_per_student_budget, school10_per_student_budget, school11_per_student_budget, school12_per_student_budget, school13_per_student_budget, school14_per_student_budget, school15_per_student_budget],
    "Average Maths Score": [school1_ave_M, school2_ave_M, school3_ave_M, school4_ave_M, school5_ave_M, school6_ave_M, school7_ave_M, school8_ave_M, school9_ave_M, school10_ave_M, school11_ave_M, school12_ave_M, school13_ave_M, school14_ave_M, school15_ave_M],
    "Average Reading Score": [school1_ave_R, school2_ave_R, school3_ave_R, school4_ave_R, school5_ave_R, school6_ave_R, school7_ave_R, school8_ave_R, school9_ave_R, school10_ave_R, school11_ave_R, school12_ave_R, school13_ave_R, school14_ave_R, school15_ave_R],
    "% Passing Maths": [percent_pass_maths1, percent_pass_maths2, percent_pass_maths3, percent_pass_maths4, percent_pass_maths5, percent_pass_maths6, percent_pass_maths7, percent_pass_maths8, percent_pass_maths9, percent_pass_maths10, percent_pass_maths11, percent_pass_maths12, percent_pass_maths13, percent_pass_maths14, percent_pass_maths15],
    "% Passing Reading": [percent_pass_reading1, percent_pass_reading2, percent_pass_reading3, percent_pass_reading4, percent_pass_reading5, percent_pass_reading6, percent_pass_reading7, percent_pass_reading8, percent_pass_reading9, percent_pass_reading10,percent_pass_reading11, percent_pass_reading12, percent_pass_reading13, percent_pass_reading14, percent_pass_reading15],
    "% Overall Passing": [percent_pass_maths_reading1, percent_pass_maths_reading2, percent_pass_maths_reading3, percent_pass_maths_reading4, percent_pass_maths_reading5, percent_pass_maths_reading6, percent_pass_maths_reading7, percent_pass_maths_reading8, percent_pass_maths_reading9, percent_pass_maths_reading10, percent_pass_maths_reading11, percent_pass_maths_reading12, percent_pass_maths_reading13, percent_pass_maths_reading14, percent_pass_maths_reading15]
})

school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,.2f}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:,.2f}".format)
school_summary_final_df = school_summary_df.set_index("School Name")
school_summary_final_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222

Top Performing Schools (By % Overall Passing)
  Sort and display the top five performing schools by % overall passing.

In [4]:
sorting_by_overall_passing_top_df = school_summary_final_df.sort_values("% Overall Passing", ascending=False)
sorting_by_overall_passing_top_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855

Top Performing Schools (By % Overall Passing)
  Sort and display the five worst-performing schools by % overall passing.

In [5]:
sorting_by_overall_passing_worst_df = school_summary_final_df.sort_values("% Overall Passing")
sorting_by_overall_passing_worst_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880

In [6]:
years_maths_reading_df = o_schools_students_info_df.sort_values("school_name")
del years_maths_reading_df['Student ID']
del years_maths_reading_df['gender']
del years_maths_reading_df['School ID']
del years_maths_reading_df['type']
del years_maths_reading_df['size']
del years_maths_reading_df['budget']
del years_maths_reading_df['student_name']
del years_maths_reading_df['reading_score']
years_maths_reading_1_df = years_maths_reading_df.set_index("school_name")
years_maths_reading_1_df
summary_school_names = years_maths_reading_df["school_name"].unique()
summary_school_names_1 = pd.Series(summary_school_names)
year9_maths_1 = years_maths_reading_1_df.loc[(years_maths_reading_1_df["year"] ==9)]
year9_maths_1
year10_maths_1 = years_maths_reading_1_df.loc[(years_maths_reading_1_df["year"] ==10)]
year10_maths_1
year11_maths_1 = years_maths_reading_1_df.loc[(years_maths_reading_1_df["year"] ==11)]
year11_maths_1
year12_maths_1 = years_maths_reading_1_df.loc[(years_maths_reading_1_df["year"] ==12)]
del year12_maths_1['year']
year12_maths_1_ave = year12_maths_1.index()
year12_maths_1_ave

TypeError: 'Index' object is not callable

In [7]:
year9_reading_1 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Bailey High School") & (o_schools_students_info_df["year"] == 9)]
year9_reading_1_ave = year9_reading_1["reading_score"].mean()
year10_reading_1 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Bailey High School") & (o_schools_students_info_df["year"] == 10)]
year10_reading_1_ave = year10_reading_1["reading_score"].mean()
year11_reading_1 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Bailey High School") & (o_schools_students_info_df["year"] == 11)]
year11_reading_1_ave = year11_reading_1["reading_score"].mean()
year12_reading_1 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Bailey High School") & (o_schools_students_info_df["year"] == 12)]
year12_reading_1_ave = year12_reading_1["reading_score"].mean()

year9_reading_2 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Cabrera High School") & (o_schools_students_info_df["year"] == 9)]
year9_reading_2_ave = year9_reading_2["reading_score"].mean()
year10_reading_2 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Cabrera High School") & (o_schools_students_info_df["year"] == 10)]
year10_reading_2_ave = year10_reading_2["reading_score"].mean()
year11_reading_2 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Cabrera High School") & (o_schools_students_info_df["year"] == 11)]
year11_reading_2_ave = year11_reading_2["reading_score"].mean()
year12_reading_2 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Cabrera High School") & (o_schools_students_info_df["year"] == 12)]
year12_reading_2_ave = year12_reading_2["reading_score"].mean()

year9_reading_3 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Figueroa High School") & (o_schools_students_info_df["year"] == 9)]
year9_reading_3_ave = year9_reading_3["reading_score"].mean()
year10_reading_3 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Figueroa High School") & (o_schools_students_info_df["year"] == 10)]
year10_reading_3_ave = year10_reading_3["reading_score"].mean()
year11_reading_3 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Figueroa High School") & (o_schools_students_info_df["year"] == 11)]
year11_reading_3_ave = year11_reading_3["reading_score"].mean()
year12_reading_3 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Figueroa High School") & (o_schools_students_info_df["year"] == 12)]
year12_reading_3_ave = year12_reading_3["reading_score"].mean()

year9_reading_4 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Ford High School") & (o_schools_students_info_df["year"] == 9)]
year9_reading_4_ave = year9_reading_4["reading_score"].mean()
year10_reading_4 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Ford High School") & (o_schools_students_info_df["year"] == 10)]
year10_reading_4_ave = year10_reading_4["reading_score"].mean()
year11_reading_4 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Ford High School") & (o_schools_students_info_df["year"] == 11)]
year11_reading_4_ave = year11_reading_4["reading_score"].mean()
year12_reading_4 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Ford High School") & (o_schools_students_info_df["year"] == 12)]
year12_reading_4_ave = year12_reading_4["reading_score"].mean()

year9_reading_5 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Griffin High School") & (o_schools_students_info_df["year"] == 9)]
year9_reading_5_ave = year9_reading_5["reading_score"].mean()
year10_reading_5 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Griffin High School") & (o_schools_students_info_df["year"] == 10)]
year10_reading_5_ave = year10_reading_5["reading_score"].mean()
year11_reading_5 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Griffin High School") & (o_schools_students_info_df["year"] == 11)]
year11_reading_5_ave = year11_reading_5["reading_score"].mean()
year12_reading_5 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Griffin High School") & (o_schools_students_info_df["year"] == 12)]
year12_reading_5_ave = year12_reading_5["reading_score"].mean()

year9_reading_6 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Hernandez High School") & (o_schools_students_info_df["year"] == 9)]
year9_reading_6_ave = year9_reading_6["reading_score"].mean()
year10_reading_6 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Hernandez High School") & (o_schools_students_info_df["year"] == 10)]
year10_reading_6_ave = year10_reading_6["reading_score"].mean()
year11_reading_6 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Hernandez High School") & (o_schools_students_info_df["year"] == 11)]
year11_reading_6_ave = year11_reading_6["reading_score"].mean()
year12_reading_6 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Hernandez High School") & (o_schools_students_info_df["year"] == 12)]
year12_reading_6_ave = year12_reading_6["reading_score"].mean()

year9_reading_7 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Holden High School") & (o_schools_students_info_df["year"] == 9)]
year9_reading_7_ave = year9_reading_7["reading_score"].mean()
year10_reading_7 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Holden High School") & (o_schools_students_info_df["year"] == 10)]
year10_reading_7_ave = year10_reading_7["reading_score"].mean()
year11_reading_7 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Holden High School") & (o_schools_students_info_df["year"] == 11)]
year11_reading_7_ave = year11_reading_7["reading_score"].mean()
year12_reading_7 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Holden High School") & (o_schools_students_info_df["year"] == 12)]
year12_reading_7_ave = year12_reading_7["reading_score"].mean()

year9_reading_8 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Huang High School") & (o_schools_students_info_df["year"] == 9)]
year9_reading_8_ave = year9_reading_8["reading_score"].mean()
year10_reading_8 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Huang High School") & (o_schools_students_info_df["year"] == 10)]
year10_reading_8_ave = year10_reading_8["reading_score"].mean()
year11_reading_8 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Huang High School") & (o_schools_students_info_df["year"] == 11)]
year11_reading_8_ave = year11_reading_8["reading_score"].mean()
year12_reading_8 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Huang High School") & (o_schools_students_info_df["year"] == 12)]
year12_reading_8_ave = year12_reading_8["reading_score"].mean()

year9_reading_9 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Johnson High School") & (o_schools_students_info_df["year"] == 9)]
year9_reading_9_ave = year9_reading_9["reading_score"].mean()
year10_reading_9 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Johnson High School") & (o_schools_students_info_df["year"] == 10)]
year10_reading_9_ave = year10_reading_9["reading_score"].mean()
year11_reading_9 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Johnson High School") & (o_schools_students_info_df["year"] == 11)]
year11_reading_9_ave = year11_reading_9["reading_score"].mean()
year12_reading_9 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Johnson High School") & (o_schools_students_info_df["year"] == 12)]
year12_reading_9_ave = year12_reading_9["reading_score"].mean()

year9_reading_10 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Pena High School") & (o_schools_students_info_df["year"] == 9)]
year9_reading_10_ave = year9_reading_10["reading_score"].mean()
year10_reading_10 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Pena High School") & (o_schools_students_info_df["year"] == 10)]
year10_reading_10_ave = year10_reading_10["reading_score"].mean()
year11_reading_10 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Pena High School") & (o_schools_students_info_df["year"] == 11)]
year11_reading_10_ave = year11_reading_10["reading_score"].mean()
year12_reading_10 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Pena High School") & (o_schools_students_info_df["year"] == 12)]
year12_reading_10_ave = year12_reading_10["reading_score"].mean()

year9_reading_11 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Rodriguez High School") & (o_schools_students_info_df["year"] == 9)]
year9_reading_11_ave = year9_reading_11["reading_score"].mean()
year10_reading_11 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Rodriguez High School") & (o_schools_students_info_df["year"] == 10)]
year10_reading_11_ave = year10_reading_11["reading_score"].mean()
year11_reading_11 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Rodriguez High School") & (o_schools_students_info_df["year"] == 11)]
year11_reading_11_ave = year11_reading_11["reading_score"].mean()
year12_reading_11 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Rodriguez High School") & (o_schools_students_info_df["year"] == 12)]
year12_reading_11_ave = year12_reading_11["reading_score"].mean()

year9_reading_12 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Shelton High School") & (o_schools_students_info_df["year"] == 9)]
year9_reading_12_ave = year9_reading_12["reading_score"].mean()
year10_reading_12 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Shelton High School") & (o_schools_students_info_df["year"] == 10)]
year10_reading_12_ave = year10_reading_12["reading_score"].mean()
year11_reading_12 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Shelton High School") & (o_schools_students_info_df["year"] == 11)]
year11_reading_12_ave = year11_reading_12["reading_score"].mean()
year12_reading_12 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Shelton High School") & (o_schools_students_info_df["year"] == 12)]
year12_reading_12_ave = year12_reading_12["reading_score"].mean()

year9_reading_13 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Thomas High School") & (o_schools_students_info_df["year"] == 9)]
year9_reading_13_ave = year9_reading_13["reading_score"].mean()
year10_reading_13 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Thomas High School") & (o_schools_students_info_df["year"] == 10)]
year10_reading_13_ave = year10_reading_13["reading_score"].mean()
year11_reading_13 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Thomas High School") & (o_schools_students_info_df["year"] == 11)]
year11_reading_13_ave = year11_reading_13["reading_score"].mean()
year12_reading_13 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Thomas High School") & (o_schools_students_info_df["year"] == 12)]
year12_reading_13_ave = year12_reading_13["reading_score"].mean()

year9_reading_14 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Wilson High School") & (o_schools_students_info_df["year"] == 9)]
year9_reading_14_ave = year9_reading_14["reading_score"].mean()
year10_reading_14 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Wilson High School") & (o_schools_students_info_df["year"] == 10)]
year10_reading_14_ave = year10_reading_14["reading_score"].mean()
year11_reading_14 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Wilson High School") & (o_schools_students_info_df["year"] == 11)]
year11_reading_14_ave = year11_reading_14["reading_score"].mean()
year12_reading_14 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Wilson High School") & (o_schools_students_info_df["year"] == 12)]
year12_reading_14_ave = year12_reading_14["reading_score"].mean()

year9_reading_15 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Wright High School") & (o_schools_students_info_df["year"] == 9)]
year9_reading_15_ave = year9_reading_15["reading_score"].mean()
year10_reading_15 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Wright High School") & (o_schools_students_info_df["year"] == 10)]
year10_reading_15_ave = year10_reading_15["reading_score"].mean()
year11_reading_15 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Wright High School") & (o_schools_students_info_df["year"] == 11)]
year11_reading_15_ave = year11_reading_15["reading_score"].mean()
year12_reading_15 = o_schools_students_info_df.loc[(o_schools_students_info_df["school_name"] =="Wright High School") & (o_schools_students_info_df["year"] == 12)]
year12_reading_15_ave = year12_reading_15["reading_score"].mean()

school_summary_reading_years_df = pd.DataFrame({
    "School Name": ["Bailey High School", "Cabrera High School", "Figueroa High School", "Ford High School", "Griffin High School", "Hernandez High School", "Holden High School", "Huang High School", "Johnson High School", "Pena High School", "Rodriguez High School", "Shelton High School", "Thomas High School", "Wilson High School", "Wright High School"],
    "year 9":  [year9_reading_1_ave, year9_reading_2_ave, year9_reading_3_ave, year9_reading_4_ave, year9_reading_5_ave, year9_reading_6_ave, year9_reading_7_ave, year9_reading_8_ave, year9_reading_9_ave, year9_reading_10_ave, year9_reading_11_ave, year9_reading_12_ave, year9_reading_13_ave, year9_reading_14_ave, year9_reading_15_ave],
    "year 10": [year10_reading_1_ave, year10_reading_2_ave, year10_reading_3_ave, year10_reading_4_ave, year10_reading_5_ave, year10_reading_6_ave, year10_reading_7_ave, year10_reading_8_ave, year10_reading_9_ave, year10_reading_10_ave, year10_reading_11_ave, year10_reading_12_ave, year10_reading_13_ave, year10_reading_14_ave, year10_reading_15_ave],
    "year 11":  [year11_reading_1_ave, year11_reading_2_ave, year11_reading_3_ave, year11_reading_4_ave, year11_reading_5_ave, year11_reading_6_ave, year11_reading_7_ave, year11_reading_8_ave, year11_reading_9_ave, year11_reading_10_ave, year11_reading_11_ave, year11_reading_12_ave, year11_reading_13_ave, year11_reading_14_ave, year11_reading_15_ave],
    "year 12":  [year12_reading_1_ave, year12_reading_2_ave, year12_reading_3_ave, year12_reading_4_ave, year12_reading_5_ave, year12_reading_6_ave, year12_reading_7_ave, year12_reading_8_ave, year12_reading_9_ave, year12_reading_10_ave, year12_reading_11_ave, year12_reading_12_ave, year12_reading_13_ave, year12_reading_14_ave, year12_reading_15_ave]
})

school_summary_reading_years_final_df = school_summary_reading_years_df.set_index("School Name")
school_summary_reading_years_final_df

                          year 9    year 10    year 11    year 12
School Name
Bailey High School     70.901920  70.848265  70.317346  72.195525
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Ford High School       69.615846  68.988701  70.735964  68.849722
Griffin High School    72.026895  70.746305  72.385042  69.434932
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Holden High School     71.598425  71.096491  73.310680  70.481928
Huang High School      68.670616  69.516297  68.740638  68.671795
Johnson High School    68.719286  69.295029  69.969115  67.992521
Pena High School       70.949091  72.324000  71.703125  71.513812
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Shelton High School    70.715094  69.879464  71.150485  69.070081
Thomas High School     69.672451  69.741093  70.749398  68.730769
Wilson High School     68.683043  68.412541  68.796327  69.888143
Wright High School     71.823529  71.386831  70.475862  69.821138

In [34]:
school_summary_final_df["Per Student Budget"].replace(regex=True, inplace=True, to_replace=r'[^0-9.\-]', value=r'')
school_summary_final_df["Per Student Budget"] = school_summary_final_df["Per Student Budget"].astype(float)
spending_bins = [0, 585, 630, 645, 680]
labels_values = ["<$585", "$585-630", "$630-645", "$645-680"]
school_summary_final_df["Spending Ranges (Per Student)"] = pd.cut(school_summary_final_df["Per Student Budget"], spending_bins, labels=labels_values, include_lowest=True)
#school_summary_final_df

spending_maths_scores = school_summary_final_df.groupby(["Spending Ranges (Per Student)"])["Average Maths Score"].mean()
spending_reading_scores = school_summary_final_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_maths = school_summary_final_df.groupby(["Spending Ranges (Per Student)"])["% Passing Maths"].mean()
spending_passing_reading = school_summary_final_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_summary_final_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

spending_summary_df = pd.concat([spending_maths_scores, spending_reading_scores, spending_passing_maths, spending_passing_reading, overall_passing_spending], axis=1)
spending_summary_df

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,71.364587,70.716577,88.835926,86.390517,76.721458
$585-630,72.065868,71.031297,91.518824,87.292423,79.876293
$630-645,69.854807,69.838814,84.686139,83.763585,71.004977
$645-680,68.884391,69.045403,81.568470,81.769716,66.756253

In [32]:
size_bins = [0, 1000, 2000, 5000]
labels_values = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
school_summary_final_df["School Size"] = pd.cut(school_summary_final_df["Total Students"], size_bins, labels=labels_values, include_lowest=True)
school_summary_final_df

spending_maths_scores = school_summary_final_df.groupby(["School Size"])["Average Maths Score"].mean()
spending_reading_scores = school_summary_final_df.groupby(["School Size"])["Average Reading Score"].mean()
spending_passing_maths = school_summary_final_df.groupby(["School Size"])["% Passing Maths"].mean()
spending_passing_reading = school_summary_final_df.groupby(["School Size"])["% Passing Reading"].mean()
overall_passing_spending = school_summary_final_df.groupby(["School Size"])["% Overall Passing"].mean()

size_summary_df = pd.concat([spending_maths_scores, spending_reading_scores, spending_passing_maths, spending_passing_reading, overall_passing_spending], axis=1)
size_summary_df

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),72.335748,71.636864,90.806867,87.557513,79.066348
Medium (1000-2000),71.421650,70.720164,89.846560,86.714149,78.039785
Large (2000-5000),69.751809,69.576052,84.252804,83.301185,70.293507

In [33]:
spending_maths_scores = school_summary_final_df.groupby(["School Type"])["Average Maths Score"].mean()
spending_reading_scores = school_summary_final_df.groupby(["School Type"])["Average Reading Score"].mean()
spending_passing_maths = school_summary_final_df.groupby(["School Type"])["% Passing Maths"].mean()
spending_passing_reading = school_summary_final_df.groupby(["School Type"])["% Passing Reading"].mean()
overall_passing_spending = school_summary_final_df.groupby(["School Type"])["% Overall Passing"].mean()

type_summary_df = pd.concat([spending_maths_scores, spending_reading_scores, spending_passing_maths, spending_passing_reading, overall_passing_spending], axis=1)
type_summary_df

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Type,,,,,
Government,69.834806,69.675929,84.462375,83.587562,70.698993
Independent,71.368822,70.718933,89.204043,86.247789,76.973340